@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&family=Montserrat:wght@400;500;600&family=Raleway:wght@400;500;600&display=swap');

* {
  text-decoration: none !important;
  list-style-type: none !important;
}

.preloader_bg {
  position: fixed;
  z-index: 9;
  background: var(--fc-black);
  width: 100%;
  height: 100%;
}

.preloader {
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -30%);
  width: 50px;
}

:root {
  /* font-family:  */
  --ff-montserrat: 'Montserrat Alternates', sans-serif;
  --ff-raleway: "raleway";

  /* font-weight; */

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600

  /* font-size; */
  --fs-12: 12px;
  --fs-16:16px;
  --fs-20: 22px;
  --fs-24: 24px;
  --fs-42: 42px;
  --fs-44: 44px;
  --fs-62: 62px;

  /* color */
  --fc-white: #fafafa;
  --fc-black: #3c3c3c;
  --fc-yellow: #FFCF23;

}

.fw-600 {
  font-weight: var(--fw-600);
}

.fw-500 {
  font-weight: var(--fw-500);
}

.fw-400 {
  font-weight: var(--fw-400);
}

.fs-12 {
  font-size: var(--fs-12);
}

.fs-16 {
  font-size:var(--fs-16);
}

.fs-20 {
  font-size: var(--fs-20);
}

.fs-24 {
  font-size: var(--fs-24);
  ;
}

.fs-42 {
  font-size:var(--fs-42);
}

.fs-44 {
  font-size: var(--fs-44);
}

.fs-62 {
  font-size: var(--fs-62);
}

.fc-white {
  color: var(--fc-white);
}

.fc-black {
  color: var(--fc-black);
}

.fc-yellow {
  color: var(--fc-yellow);
}

.ff-montserrat {
  font-family: var(--ff-montserrat);
}

.ff-raleway {
  font-family: var(--ff-raleway);
}

.nav-color {
  background-color: #433F39;
}

.opacity {
  opacity: 0.7px;
}

.mt-36 {
  margin-top: 36px;
}

.pt-15 {
  padding-top: 75px;
}

.bb-2 {
  border-bottom: 1px solid whitesmoke;
  padding-top: 15px;
}

.home {
  position: relative;
}

.contact-btn {
  border: 2px solid transparent;
  color: var(--fc-white);
  transition: all 300ms linear;
  border-radius: 5px;
  background: var(--Linear, linear-gradient(125deg, #FFCF23 0%, #FFA723 100%));
  padding: 10px 14px;
}

.contact-btn:hover {
  background-color: #fafafa;
  color: var(--fc-black);
}

.login-btn {
  border: 2px solid #fafafa;
  padding: 10px 20px;
  border-radius: 5px;
  gap: 10px;
}

.login-btn:hover  {
  background: var(--500, #80765D);
  border: solid transparent;
  color: var(--fc-white);
}

.add-btn {
  border-radius: 39px;
  background: rgba(255, 255, 255, 0.20);
  padding: 12px 23px;
  gap: 10px;
  border: 2px solid transparent;
}
.add-btn:hover{
  background: var(--500, #80765D);
  border: solid transparent;
  color: var(--fc-white);
}

.home::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 0;
  background-color: #fafafa;
  left: 0;
  top: 25px;
  border-radius: 20px;
  transition: 300ms all linear;
}

.home:hover::after {
  width: 100%;
}

.home:hover {
  color: #fafafa;
}

.w-839 {
  max-width: 839px;
}

.w-460 {
  max-width: 460px;
}

.w-697 {
  max-width: 697px;
}

.w-802 {
  max-width: 802px;
}

.w-612 {
  max-width: 612px;
}

.w-351 {
  max-width: 351px;
}
.blueellipse{
  top: 690%;
  right: 2%;
}
.w-730 {
  max-width: 730px;
}

.footer-svg {
  transition: all 300ms linear;
}

.footer-svg:hover {
  transform: translateY(-10px);
}
.header-elp-1 {
  top: 21%;
  left: -1%;
  width: 10%;
}

.header-elp-2 {
  bottom: 5%;
  left: 0;
  width: 10%;
}

.z_7 {
  z-index: 7;
}

.header-elp-3 {
  top: 22%;
  right: 0;
  width: 10%;
}

.header-elp-4 {
  bottom: 5%;
  right: 0;
  width: 10%;
}

.header-elp-5 {
  top: 10%;
  left: 20%;
}

.header-elp-6 {
  top: 10%;
  right: 20%;
}

.header-elp-7 {
  bottom: 15%;
  left: 20%;
}

.header-elp-8 {
  bottom: 15%;
  right: 20%;
}
.header-bg-effect {
  width: 315px;
  height: 83px;
  flex-shrink: 0;
  border-radius: 881px;
  background: var(--Linear, linear-gradient(125deg, #FFCF23 0%, #FFA723 100%));
  filter: blur(239px);
}

.bg-color {
  background-color: #242323;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.bg-black {
  background-color: #242323;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.bg-brown {
  background-image: url(../section-6.png);
  background-repeat: no-repeat;
  background-position: center;

}

.card {
  width: 350px;
  border-radius: 10px;
  background: var(--whit, #FFF);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
  padding: 20px;
}
.service-elp-1 {
  top: 1%;
  left: 2%;
}

.service-elp-2 {
  top: 0;
  right: 3%;
  z-index: -1%;
}

.service-elp-3 {
  bottom: 10%;
  left: 7%;
  z-index: -2%;
}

.service-elp-4 {
  bottom: 12%;
  right: 6%;
}

.service-shadow-1 {
  width: 300px;
  height: 138px;
  flex-shrink: 0;
  border-radius: 300px;
  background: var(--Linear, linear-gradient(125deg, #FFCF23 0%, #FFA723 100%));
  filter: blur(239px);
  top: 0%;
  left: 0;
}

.service-shadow-2 {
  width: 300px;
  height: 138px;
  flex-shrink: 0;
  border-radius: 300px;
  background: var(--Linear, linear-gradient(125deg, #FFCF23 0%, #FFA723 100%));
  filter: blur(239px);
  right: 0;
  bottom: 0;
}

.bg-white {
  background-color: #FFFCF6;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.pricing-elp-1 {
  left: -13%;
  top: 6%;
  width: 20%;
}

.pricing-elp-2 {
  right: 12%;
  top: 5%;

}

.pricing-elp-3 {
  left: 0%;
  bottom: 41%;

}


.accordion-item {
  border-bottom: 1px solid #3C3C3C !important;
}

.accordion {
  --bs-accordion-bg: none !important;
  background-color: none !important;
  --bs-accordion-active-bg: none !important;
}

.accordion-button:not(.collapsed) {
  color: #000000 !important;
  box-shadow: none !important;
}

.accordion-button::after {
  content: "";
  font-size: 24px;
  margin-left: auto;
  background-image: url(../images/accordian-btn1.png) !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../images/accordian-btn1.png) !important;
 
}

.service-card {
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.30);
  width: 100%;
  transition: all 300ms linear;
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: 10px;
}

.service-card:hover {
  background: #242323;
  box-shadow: 5px 5px 0px 0px #FFCF23;
border: 1px solid #FFCF23;
}
.mt-27{
  margin-top: 27px !important;
}
.border-r-1 {
  border-right: 1px solid #3C3C3C;
}


.pricingellipse{
  top: 457%;
  left: -5%;
}

.service-card-2 {
  padding: 14px 10px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.30);
}

.service-card-2:hover {
  background: #242323;
  box-shadow: 5px 5px 0px 0px #FFCF23;
  transition: all 200ms linear;
}
.pricing-card {
   width: 364px;
  height: 522px;
  border-radius: 15px;
  border: 1px solid var(--BLACK, #3C3C3C);
  transition: all 500ms linear;
}
.ellipse-img-1 {
  position: absolute;
  top: 11%;
  left: 1%;
}
.bb-1{
border-bottom: 1px solid ;
 
}

.ellipse-img-2 {
  position: absolute;
  bottom: -6%;
  right: 0%;
}

.pricing-card:hover {
  background: #fafafa;
  box-shadow: 5px 5px 0px 0px #FFCF23;
  transition: all 200ms linear;
}

.head-card {
  padding: 12px 57px;
  justify-content: center;
  align-items: center;
  border-radius: 45px;
  border: 1px solid var(--BLACK, #3C3C3C);
  background: #FFF;
  transition: all 500ms linear;
}


.pricing-card:hover .head-card {
  background: #FFCF23;
  transition: all 200ms linear;
}

.fixd-p1 {
  position: absolute;
  top: -4%;
  left: 4%;
}

.fixd-p2 {
  position: relative;
  top: -4%;
  left: -6%;
}

.fixd-p3 {
  position: absolute;
  top: -5%;
  left: 2%;
}

.start-btn {
  padding: 16px 103px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 2px solid var(--BLACK, #3C3C3C);
}

.pricing-card:hover .start-btn {
  color: var(--fc-black);
  background: var(--Linear, linear-gradient(125deg, #FFCF23 0%, #FFA723 100%));
  ;
}

.call-btn {
  padding: 14px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.40);
}

.call-btn:hover {
  color: var(--fc-black);
  background: var(--Linear, linear-gradient(125deg, #FFCF23 0%, #FFA723 100%));
  ;
}

.wh-image {
  width: 165px;
  height: 150px;
}
.webflow-elp-1 {
  top: 2%;
  left: -0%;
  width: 15%;
}
.webflow-elp-2 {
  top: 1%;
  right: 0%;
  width: 20%;
}
.webflow-elp-3 {
  top: 59%;
  left: 8%;
}
.webflow-shadow-1 {
  width: 233px;
  height: 108px;
  flex-shrink: 0;
  background: var(--Linear, linear-gradient(125deg, #FFCF23 0%, #FFA723 100%));
  filter: blur(239px);
  top: 2%;
  left: 4%;
}

.webflow-shadow-2 {
  width: 233px;
  height: 108px;
  flex-shrink: 0;
  background: var(--Linear, linear-gradient(125deg, #FFCF23 0%, #FFA723 100%));
  filter: blur(239px);
  top: 2%;
  right: 3%;
}
.book-btn {
  border-radius: 5px;
  background: #FFF9E4;
  padding: 16px 30px;
  transition: .4s;
 

}

.book-btn:hover {
  background: #FFF9E4;
  border:   solid transparent ;
  box-shadow: 5px 5px 0px 0px #3c3c3c;
}

.slider2 .slick-active {
  transform: scale(1.1);
}

.slider .slick-track {
  padding-top: 100px;
  padding-bottom: 100px;
}

.slick-card {
  padding: 20px 12px 12px 12px;
  border-radius: 15px;
  border: 1px solid var(--fc-black);
}

.bg-customer {
  background-color: #FFF9E4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.ceos-slider.slick-track{
  display: flex !important;
  align-items: center !important;
}


.ceos-slider .slick-center {
  border: 1px solid var(--yellow);
  background: #FFFCF6;
  box-shadow: 10px 10px 0px 0px #FFCF23;
}
.customer-slider .slick-track {
  display: flex !important;
}
.customer-slider .slick-slide {
  height: inherit !important;
  display: flex !important;
}
.customer-slider .slick-slide > div {
  display: flex;
}

.ceos-slider .slick-dots li button::before {
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0 !important;
  left: 50% !important;
  width: 40px !important;
  height: 11px !important;
  content: '' !important;
  text-align: center;
  background-color: black !important;
  border-radius: 34px;
}

.ceos-slider .slick-dots li .slick-active button:before {
  width: 57px !important;
  height: 11px !important;
}

.ceos-slider .slick-dots {
  display: flex !important;
  gap: 20px !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
}




@media (max-width: 992px) {
  label[for="icon"] {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    cursor: pointer;
  }

  label[for="icon"]>span {
    width: 100%;
    background-color: #fafafa;
    height: 5px;
    border-radius: 2px;
  }

  ul.mobile-view {
    background-color: var(--fc-black);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    right: -100%;
    top: 0;
    z-index: 2;
    transition: all 300ms linear;
  }

  input[type="checkbox"]:checked+ul {
    right: 0;
    gap: 58px;
  }
  .border-r-1 {
  border-right: unset;
  }
}

@media (max-width:768px) {
 

  :root {
    --fs-16: 15px;
    --fs-20: 18px;
    --fs-24: 20px;
    --fs-42: 38px;
    --fs-44: 38px;
    --fs-62: 45px;
  }
}
@media (max-width:576px){
  :root{
    --fs-16: 14px;
    --fs-20: 17px;
    --fs-24: 20px;
    --fs-42: 34px;
    --fs-44: 32px;
    --fs-62: 35px;
  }
  .wh-image {
    width: 125px;
    height: 115px;
  }
}
@media(max-width:430px){
  :root{
    --fs-16: 14px;
    --fs-20: 17px;
    --fs-24: 20px;
    --fs-42: 34px;
    --fs-44: 32px;
    --fs-62: 30px;
  }
}
@media (max-width:1300px){
  :root{
    --fs-16: 14px;
    --fs-20: 17px;
    --fs-24: 20px;
    --fs-42: 34px;
    --fs-44: 32px;
    --fs-62: 30px;
  }
}